
@*
    Ui Head Component
*@

<head>
    <meta charset="utf-8" />
    <title>Discover | Bepop - Music Web Application</title>
    <meta name="description" content="Responsive, Bootstrap, BS4" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- style -->
    <!-- build:css ../assets/css/site.min.css -->
    <link rel="stylesheet" href="/bepop-non-stop-music-template-2025-03-31-00-57-13-utc/Bepop/libs/slick-carousel/slick/slick.css" type="text/css" />
    <link rel="stylesheet" href="/bepop-non-stop-music-template-2025-03-31-00-57-13-utc/Bepop/libs/slick-carousel/slick/slick-theme.css" type="text/css" />
    <link rel="stylesheet" href="/bepop-non-stop-music-template-2025-03-31-00-57-13-utc/Bepop/assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/bepop-non-stop-music-template-2025-03-31-00-57-13-utc/Bepop/assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="/bepop-non-stop-music-template-2025-03-31-00-57-13-utc/Bepop/assets/css/style.css" type="text/css" />
    <!-- endbuild -->
</head>